@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

#journey-section {
  display: grid;
  place-content: center;
  width: 100%;
  background-color: #15181C;
  padding-top: 2rem;

  .journey-title {
    width: 50rem;
    color: $primary-color;
    margin: .5rem 0;
  }

  .journey-description {
    max-width: 45rem;
    color: $grey-color;
  }

  .journey-experience {
    margin-top: .5rem;

    .journey-subtitle {
      font-size: 22px;
      font-weight: 900;
    }

    .journey-item {
      position: relative;
      padding: 0 0 0.75rem 1rem;
      border-left: 1px solid $primary-color;
      max-width: 45rem;

      .journey-circle {
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 0;
        left: -8px;
        background-color: $primary-color;
        border-radius: 100%;
      }

      .journey-position {
        margin-top: 1.5rem;
        font-size: 18px;
      }

      .journey-company {
        margin-top: 0.75rem;
        font-size: 14px;
        font-weight: 400;
        color: $primary-color;
        letter-spacing: 0.05rem;
      }

      p {
        margin-top: 0.25rem;
        font-size: 14px;
        color: $grey-color;
      }
    }

    .journey-subtitle {
      margin-top: 2rem;
      color: $primary-color;
      font-weight: 700;
    }

    .academic-card {
      margin: .75rem 0;
      padding: 1rem;
      background-color: $light-black-color;
      border-radius: .25rem;

      .academic-card-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          color: $primary-color;
          font-size: 22px;
          padding-bottom: .15rem;
          border-bottom: 1px solid $white-color;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .5rem;
          background-color: $primary-color;
          color: $black-color;
          font-weight: 800;
          padding: .4rem 1rem;
          border-radius: .25rem;
          font-size: 14px;

          i {
            color: $black-color;
          }
        }
      }

      h5 {
        color: $primary-color;
        letter-spacing: .2rem;
        margin: .25rem 0;
      }

      p {
        max-width: 45rem;
        font-size: 14px;
        margin: .5rem 0;
        line-height: 1.25rem;
      }
    }

    .academic-btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background-color: transparent;
        border: none;
        font-size: 22px;
        cursor: pointer;
      }
    }
  }
}