<section id="journey-section">
    <h2 class="journey-title">TRAJETÓRIA PROFISSIONAL</h2>
    <p class="journey-description">Minha trajetória profissional e acadêmica, com experiências e formações que moldaram
        minhas habilidades na tecnologia.</p>

    <div class="journey-experience">
        <article class="journey-item">
            <div class="journey-circle"></div>
            <h4 class="journey-position">FreeLancer</h4>
            <h5 class="journey-company">DESENVOLVEDOR FULLSTACK</h5>
            <p>Responsável pelo desenvolvimento de aplicações web completas, desde a criação de interfaces até a
                implementação do back-end e integrações com serviços externos. Atua na construção de soluções
                escaláveis, seguras e bem estruturadas, aplicando boas práticas de desenvolvimento e metodologias
                ágeis.Experiência na implementação de APIs, gerenciamento de banco de dados e vivências com nuvem.</p>
        </article>

        <article class="journey-item">
            <div class="journey-circle"></div>
            <h4 class="journey-position">Operador de Supermercado</h4>
            <h5 class="journey-company">CHOCOLANDIA</h5>
            <p>Responsável pelo atendimento ao cliente, operação de caixa, conferência de produtos, emissão de notas
                fiscais e organização de estoque, sempre garantindo eficiência e precisão. Desenvolvi habilidades em
                trabalho em equipe, resolução de problemas, organização, gestão de tempo e adaptação à pressão.</p>
        </article>

        <h2 class="journey-subtitle">FORMAÇÃO E CURSOS</h2>
        <div class="academic-card" *ngFor="let academicCard of academicCards.slice(index, index + 3); let i = index"
            [ngStyle]="{ '--delay': (i * 0.2) + 's' }">
            <div class="academic-card-title-wrapper">
                <h4>{{ academicCard.name}}</h4>
                <span>{{ academicCard.status }} <i class="fa-solid fa-graduation-cap"></i></span>
            </div>
            <h5>{{ academicCard.author }}</h5>
            <p>{{ academicCard.description }}</p>
        </div>

        <div class="academic-btn-wrapper">
            <button (click)="onCarrouselClick()"><i class="fa-solid fa-chevron-down"></i></button>
        </div>


    </div>
</section>