<div id="journey-section">
    <h1 class="journey-title">TRAJETÓRIA PROFISSIONAL</h1>
    <p class="journey-description">Minha trajetória profissional e acadêmica, com experiências e formações que moldaram minhas habilidades na tecnologia.</p>

    <div class="journey-container">
        <div class="experience">
            <h1 class="journey-subtitle">Experiência</h1>
            <div class="journey-content">
                <div class="circle"></div>
                <h2>FreeLancer</h2>
                <h3>DESENVOLVEDOR FULLSTACK</h3>
                <p>Responsável pelo desenvolvimento de aplicações web completas, desde a criação de interfaces até a implementação do back-end e integrações com serviços externos. Atua na construção de soluções escaláveis, seguras e bem estruturadas, aplicando boas práticas de desenvolvimento e metodologias ágeis.Experiência na implementação de APIs, gerenciamento de banco de dados e vivências com nuvem.</p>
            </div>

            <div class="journey-content">
                <div class="circle"></div>
                <h2>Operador de Supermercado</h2>
                <h3>CHOCOLANDIA</h3>
                <p>Responsável pelo atendimento ao cliente, operação de caixa, conferência de produtos, emissão de notas fiscais e organização de estoque, sempre garantindo eficiência e precisão. Desenvolvi habilidades em trabalho em equipe, resolução de problemas, organização, gestão de tempo e adaptação à pressão.</p>
            </div>
        </div>

        <div class="academic-background">
            <h1 class="journey-subtitle">Formação e Cursos</h1>

            <div class="academic-card">
                <div class="academic-card-title-wrapper">
                    <h1>Análise e Desenvolvimento de Sistemas</h1>
                    <div>Cursando <i class="fa-solid fa-graduation-cap"></i></div>
                </div>
                <h2>UNIP - Universidade Paulista</h2>
                <p>Desenvolvendo habilidades em desenvolvimento de software, banco de dados, desenvolviento web e mobile, arquitetura de software, metodologias ágeis, engenharia de software e princípios de design de softwares.</p>
            </div>

            <div class="academic-card">
                <div class="academic-card-title-wrapper">
                    <h1>C# Completo - Programação Orietada a Objetos</h1>
                    <div>Finalizado <i class="fa-solid fa-circle-check"></i></div>
                </div>
                <h2>Udemy - Prof° Nélio Alves</h2>
                <p>Curso de  Programação Orientada a Objetos, linguagem C#, criação de soluções flexíveis, arquitetura de software, testes, modelagem UML e aplicação de boas práticas no desenvolvimento de software.</p>
            </div>

            <div class="academic-card">
                <div class="academic-card-title-wrapper">
                    <h1>Formação FullStack JavaScript</h1>
                    <div>Finalizado <i class="fa-solid fa-circle-check"></i></div>
                </div>
                <h2>Plataforma OneBitCode</h2>
                <p>Curso d desenvolvimento fullstack com JavaScript, criação de APIs com Node.js e Express, desenvolvimento front-end com React, HTML, CSS, Sass e Bootstrap, bancos de dados SQL e NoSQL (MongoDB), arquitetura de software, metodologias ágeis e boas práticas de desenvolvimento web.</p>
            </div>
            
            <div class="academic-btn-wrapper">
                <button><i class="fa-solid fa-chevron-down"></i></button>
            </div>

        </div>
    </div>
</div>