@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;

#home-section {
  @include section-container();

  .home-video-wrapper {
    position: relative;
    width: 100%;
    margin: 2 auto;

    video {
      width: 100%;
      height: 5rem;
      border-radius: .25rem;
      object-fit: cover;


      @include laptop() {
        height: 7rem;
      }

      @include desktop() {
        height: 10rem;
      }
    }

    img {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      top: 2.75rem;
      left: .75rem;
      z-index: 999;
      box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;

      @include tablet() {
        width: 5rem;
        height: 5rem;
        top: 2rem;
      }

      @include laptop() {
        width: 7rem;
        height: 7rem;
        top: 3rem;
      }

      @include desktop() {
        width: 9rem;
        height: 9rem;
        top: 4rem;
      }
    }
  }

  .profile-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;

    @include tablet() {
      margin-top: 2rem;
    }

    @include laptop() {
      margin-top: 3rem;
    }

    .profile-name-wrapper {
      display: flex;
      align-items: center;
      gap: .25rem;

      h1 {
        font-size: 20px;

        @include tablet() {
          font-size: 26px;
        }

        @include laptop() {
          font-size: 30px;
        }
      }

      img {
        width: 1rem;

        @include tablet() {
          width: 1.25rem;
        }

      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      gap: .75rem;

      i {
        font-size: 26px;

        @include tablet() {
          font-size: 30px;
        }

        @include laptop() {
          font-size: 40px
        }
      }
    }
  }

  .home-content {
    .profile-description {
      max-width: 18rem;
      margin-top: .5rem;
      font-size: 11px;

      @include tablet() {
        max-width: 25rem;
        font-size: 12px;
      }

      @include laptop() {
        max-width: 35rem;
        font-size: 14px
      }
    }

    .personal-info {
      display: flex;
      align-items: center;
      gap: .25rem;
      margin-top: .75rem;

      @include tablet() {
        gap: .5rem;
      }

      @include desktop() {
        gap: 1rem;
      }

      .personal-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;

        p,
        i {
          color: $grey-color;
        }

        p {
          font-size: 10px;

          @include tablet() {
            font-size: 12px;
          }

          @include laptop() {
            font-size: 14px;
          }
        }

        i {
          font-size: 10px;

          @include tablet() {
            font-size: 12px;
          }

          @include laptop() {
            font-size: 14px;
          }
        }

        a {
          color: $primary-color;
          font-size: 10px;

          @include tablet() {
            font-size: 12px;
          }

          @include laptop() {
            font-size: 14px;
          }
        }
      }
    }

    .home-techs-container {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-top: 1.25rem;

      img {
        width: 1.75rem;

        @include tablet() {
          width: 2rem;
        }

        @include laptop() {
          width: 2.5rem;
        }

        @include desktop() {
          width: 2.75rem;
        }
      }
    }

    .home-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;

      @include desktop() {
        margin-top: 1.5rem;
      }

      a {
        background-color: $primary-color;
        color: $black-color;
        padding: .4rem 1rem;
        border-radius: .25rem;
        font-weight: 900;
        font-size: 11px;

        @include tablet() {
          font-size: 12px;
        }

        @include laptop() {
          font-size: 14px;
        }

        @include desktop() {
          padding: .5rem 1.25rem;
        }

        i {
          color: $black-color;
        }
      }


    }
  }
}