<section id="home-section">

  <div class="home-video-wrapper">
    <video autoplay loop src="/airplane.mp4"></video>
    <img src="/erik.jpg" alt="Foto de Erik Scarcela" />
  </div>

  <div class="profile-title">
    <div class="profile-name-wrapper">
      <h1>Erik Scarcela Araujo</h1>
      <img src="/verified-icon.png" alt="">
    </div>

    <div class="social-icons">
      <a href="https://github.com/erikscar" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/erik-scarcela/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>

  <div class="home-content">
    <p class="profile-description">Sou um Desenvolvedor Fullstack, trabalho tanto na parte visual das aplicações (o que
      o usuário vê e usa) quanto
      nos bastidores (onde os dados são processados e armazenados).</p>

    <div class="personal-info">
      <div class="personal-info-wrapper">
        <i class="fa-solid fa-link"></i>
        <a href="#contact-section">/Contato</a>
      </div>
      <div class="personal-info-wrapper">
        <i class="fa-solid fa-cake-candles"></i>
        <p>11 de Abril de 2003</p>
      </div>
      <div class="personal-info-wrapper">
        <i class="fa-solid fa-door-open"></i>
        <p>Entrou em Julho de 2025</p>
      </div>
    </div>

    <div class="home-techs-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" alt="C# Logo" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg"
        alt=".NET Logo" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
        alt="JavaScript Logo" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        alt="Angular Logo" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg"
        alt="MongoDB Logo" />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg"
        alt="SQL Server Logo" />
    </div>

    <div class="home-buttons">
      <a href="#project-sectionn">Projetos <i class="fa-solid fa-link"></i></a>
      <a download href="/ERIK SCARCELA - CV.docx">Cúrriculo <i class="fa-solid fa-cloud-arrow-down"></i></a>
    </div>
  </div>

</section>