@use "../../../scss/mixins" as *;
@use "../../../scss/variables" as *;


#home-section {
    background-color: #15181C;
    width: 100%;
    padding: 1.5rem;

    @include tablet {
        padding: 1.5rem 4rem;
    }

    .home-animation-wrapper {
        width: 100%;
        height: 5rem;
        background-color: $primary-color;
        margin: 0 auto;
        position: relative;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            position: absolute;
            bottom: -2.5rem;
            left: 5%;
            // transform: translateX(-50%);
            border: 1px solid $white-color;
        }
    }

    .teste {
        display: flex;
        justify-content: space-between;
    }

    .home-title {
        display: flex;
        align-items: center;
        gap: .25rem;
        margin-top: 3.5rem;

        @include tablet {
            margin-top: 4.25rem;
        }

        h1 {
            font-size: 20px;
            @include tablet {
                font-size: 24px;
            }

            @include desktop {
                font-size: 32px;
            }
        }

        img {
            width: 1.15rem;

            @include desktop {
                width: 1.5rem;
            }
        }
    }

    .home-description {
        margin-top: .5rem;
        font-size: 10px;
        line-height: .9rem;
        max-width: 32rem;

        @include tablet {
            font-size: 12px;
        }
    }

    .home-info-icons-container
    {
        display: flex;
        align-items: center;
        margin-top: .5rem;
        gap: .5rem;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .25rem;

            p,a {
                font-size: 10px;
                color: $grey-color;
            }

            a {
                 color: $primary-color;
            }

            i {
                color: $grey-color;
                font-size: 12px;
            }
        }
    }

    .home-tech-icons-container {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        gap: .5rem;

        img {
            width: 2.25rem;

            @include tablet {
                width: 3rem;
            }
        }

      
    }

    .home-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin-top: 2rem;

        @include tablet {
            justify-content: flex-start;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            font-weight: 900;
            background-color: $primary-color;
            padding: .5rem 1rem;
            border: 0;
            border-radius: .5rem;
            color: $black-color;
            font-size: 10px;

            @include tablet {
                font-size: 12px;
            }

            i {
                font-size: 12px;
                color: $black-color;
            }
        }
    }

    .home-social-icons {
        margin: 1rem .5rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .75rem;

        i {
            font-size: 32px;
        }
    }


        .globe-image {
            display: none;
            width: 25%;
            max-width: 35rem;
            align-self: flex-end;
            @include tablet {
                display: inline-block;
            }
    
            @include laptop {
    
            }
    }
}
