<div id="home-section">
    <div class="home-animation-wrapper">
      <img src="/erik.jpg" alt="erik-image">
      <ng-lottie [options]="lottieOptions" height="5.5rem"></ng-lottie>
    </div>
  
   <div class="teste">
    <div class="home-content-wrapper">
      <div class="home-title">
        <h1>Erik Scarcela Araujo</h1>
        <img src="/verified-icon.png" alt="verified-icon">
      </div>
      <p class="home-description">Sou um Desenvolvedor Fullstack, trabalho tanto na parte visual das aplicações (o que o usuário vê e usa) quanto nos bastidores (onde os dados são processados e armazenados).</p>
      <div class="home-info-icons-container">
        <div>
          <div>
            <i class="fa-solid fa-link"></i>
            <a href="">/Contato</a>
          </div>
          <div>
            <i class="fa-solid fa-cake-candles"></i>
            <p>11 de Abril</p>
          </div>
          <div>
            <i class="fa-solid fa-door-open"></i>
            <p>Entrou em Abril de 2025</p>
          </div>
        </div>
        <div class="home-social-icons">
          <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="" target="_blank"><i class="fa-brands fa-linkedin" ></i></a>
        </div>
      </div>
      <div class="home-tech-icons-container">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" alt="csharp-logo">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" alt="dotnet-logo">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="javascript-logo">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="angularjs-logo">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb-logo" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg" alt="sqlserver-logo">
      </div>
      <div class="home-btns">
        <a href="">Projetos <i class="fa-solid fa-link"></i></a>
        <a href="">Currículo <i class="fa-solid fa-cloud-arrow-down"></i></a>
      </div>
    </div>
    <img src="/globe-image.png" class="globe-image" alt="">
   </div>
  </div>