<div id="contact-section">
    <h1 class="contact-title">CONTATO</h1>
    <p class="contact-description">Tem algo para discutir? Me mande uma mensagem por email e vamos conversar.</p>

    <div class="contact-info-container">
        <div class="contact-info">
            <i class="fa-solid fa-envelope"></i>
            <div class="info">
                <h2>Email</h2>
                <p>erikscarcela&#64;gmail.com</p>
            </div>
        </div>

        <div class="contact-info">
            <i class="fa-solid fa-phone"></i>
            <div class="info">
                <h2>Contato</h2>
                <p>+55 (11) 94008-0990</p>
            </div>
        </div>

        <div class="contact-info">
            <i class="fa-regular fa-message"></i>
            <div class="info">
                <h2>Social</h2>
                <div class="contact-icons">
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
            </div>
        </div>
    </div>

    <form action="">
        <div class="name-email-input">
            <div class="input-group">
                <label for="">Nome</label>
                <input type="text" placeholder="Seu Nome...">
            </div>

            <div class="input-group">
                <label for="">Email</label>
                <input type="email" placeholder="Seu Email...">
            </div>
        </div>
        
        <label for="">Mensagem</label>
        <textarea name="" id="" placeholder="Sua Mensagem..." rows="7"></textarea>

        <button type="submit">Enviar Mensagem <i class="fa-solid fa-paper-plane"></i></button>
    </form>

    <footer>
        <div class="aboutme">
            <h2>ERIK SCARCELA ARAUJO</h2>
            <h3>DESENVOLVEDOR FULLSTACK</h3>
            <p>Desenvolvedor Fullstack com foco em criar aplicações completas e funcionais</p>
        </div>

        <div class="links">
            <h2>Links</h2>
            <a href="">Home</a>
            <a href="">Formação</a>
            <a href="">Projetos</a>
            <a href="">Contato</a>
        </div>

        <div class="footer-social">
            <h2>Social</h2>
            <div>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </footer>

    <p class="copy">© 2025 Erik Scarcela Araujo. Todos os Direitos Reservados</p>
</div>