<div id="projects-section">
    <h1 class="projects-title">MEU PORTFÓLIO</h1>
    <p class="projects-description">Explore minha jornada de projetos e habilidades! Cada parte desta seção reflete meu percurso de aprendizado e evolução, destacando eus conhecimentos adquiridos ao longo do tempo.</p>

    <div class="switcher-btns">
        <button>Projetos</button>
        <button>Tecnologias</button>
        <button>Certificados</button>
    </div>

    <div class="project-container">
        <div class="project-card">
            <div class="project-img-wrapper">
                <img src="/SwiftCart.jpg" alt="">
            </div>
            
            <div class="project-content">
                <h1>Nome do Projeto</h1>
                <p>E-commerce simulation project using ReactJS for the user interface, JavaScript for dynamic functionalities, NodeJS for the backend, ExpressJS for the web server and MySQL...E-commerce simulation project using ReactJS for the user interface,E-commerce simulation project using ReactJS for the user interface,</p>
                <div class="project-btns">
                    <a href="">Ver Demo <i class="fa-solid fa-link"></i></a>
                    <a href="">GitHub <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-img-wrapper">
                <img src="/SwiftCart.jpg" alt="">
            </div>
            
            <div class="project-content">
                <h1>Nome do Projeto</h1>
                <p>E-commerce simulation project using ReactJS for the user interface, JavaScript for dynamic functionalities, NodeJS for the backend, ExpressJS for the web server and MySQL...E-commerce simulation project using ReactJS for the user interface,E-commerce simulation project using ReactJS for the user interface,</p>
                <div class="project-btns">
                    <a href="">Ver Demo <i class="fa-solid fa-link"></i></a>
                    <a href="">GitHub <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-img-wrapper">
                <img src="/SwiftCart.jpg" alt="">
            </div>
            
            <div class="project-content">
                <h1>Nome do Projeto</h1>
                <p>E-commerce simulation project using ReactJS for the user interface, JavaScript for dynamic functionalities, NodeJS for the backend, ExpressJS for the web server and MySQL...E-commerce simulation project using ReactJS for the user interface,E-commerce simulation project using ReactJS for the user interface,</p>
                <div class="project-btns">
                    <a href="">Ver Demo <i class="fa-solid fa-link"></i></a>
                    <a href="">GitHub <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-img-wrapper">
                <img src="/SwiftCart.jpg" alt="">
            </div>
            
            <div class="project-content">
                <h1>Nome do Projeto</h1>
                <p>E-commerce simulation project using ReactJS for the user interface, JavaScript for dynamic functionalities, NodeJS for the backend, ExpressJS for the web server and MySQL...E-commerce simulation project using ReactJS for the user interface,E-commerce simulation project using ReactJS for the user interface,</p>
                <div class="project-btns">
                    <a href="">Ver Demo <i class="fa-solid fa-link"></i></a>
                    <a href="">GitHub <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>

    </div>

    <div class="more-projects">
        <p>Mais Projetos <i class="fa-solid fa-chevron-right"></i></p>
    </div>
</div>  
