@use "../scss/variables" as *;

@mixin display-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-container {
  width: 100%;
  padding: 0 .75rem;
}

@mixin section-title {
  font-size: 20px;
  color: $primary-color;
  margin: 2rem 0 .5rem;

  @include tablet() {
    font-size: 24px;
  }

}

@mixin section-description {
  font-size: 14px;
  color: $grey-color;
  max-width: 40rem;
}

@mixin btn-hover {
  transform: translateY(-5px);
  box-shadow: 4px 6px 20px rgba($primary-color, 0.45)
}

@mixin link-hover {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  transform: scale(1.05);
}

@mixin tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}